* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 1400px;
  margin: 50px auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 10px;
}

/* Heading */
h2 {
  font-size: 42px;
  margin-bottom: 2rem;
  margin-right: auto;
}

/* Input + Add button */
.input-container {
  display:flexbox;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 18px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

/* Task list */
ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

/* Each task */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 12px 18px;
  margin-bottom: 12px;
  font-size: 20px;
  border-radius: 6px;
}

/* Delete button */
li button {
  background-color: #dc3545;
  font-size: 16px;
  padding: 6px 12px;
}

li button:hover {
  background-color: #b02a37;
}
