/* Reset the entire browser environment */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f4f4; /* Matches your page color */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}